sudo: false
language: ruby
rvm:
  - "2.2.0"
git:
  depth: 10
branches:
  only:
    - "source"
before_install:
  - "npm install -g npm@\"^3.0.0\""
install:
  - "bundle install"
  - "npm install"
script:
  - "npm run build:production"
after_success:
  - |

      $(npm bin)/set-up-ssh --key "${encrypted_ed2f33062ac0_key}" \
                            --iv "${encrypted_ed2f33062ac0_iv}" \
                            --path-encrypted-key "_build/.travis-github-deploy-key.enc"

  - |

      $(npm bin)/update-branch --commands "true" \
                               --commit-message "Update master @ ${TRAVIS_COMMIT}" \
                               --directory "_site" \
                               --distribution-branch "master" \
                               --source-branch "source"
