---
layout: base
title: "VJC’s Project: Makers"
---
<div class="home">
  <div class="container">
    <h1 class="home__title u-text-center">
      <span class="home__title-vjc">VJC’s</span>
      <span class="home__title-project">Project:</span>
      <span class="home__title-makers">Makers</span>
    </h1>
    <p class="home__copy">
      Hi! We’re students from <a href="http://www.victoriajc.moe.edu.sg">Victoria Junior College</a> who are interested in making stuff.
    </p>
    <p class="u-text-center">
      <a class="button button--large button--instagram" href="https://www.instagram.com/vjmakers/">{% include svg/instagram.svg %} Follow</a>
      <a class="button button--secondary button--large button--youtube" href="https://www.youtube.com/channel/UCdF_Fxfn2WNCpO5eB_UjD_w">{% include svg/youtube.svg %} Subscribe </a>
    </p>
  </div>
</div>
<div class="container">
  <h2>Keep Up!</h2>
  <p>Here’s what we’re currently up to:</p>
  <p class="u-text-center">
    <a class="button" href="/events/">Latest Events</a>
    <a class="button button--secondary" href="/projects/">Projects</a>
  </p>
  <h2>About Us</h2>
  <p>
    VJC’s Project: Makers was set up in 2016 by Mr Caleb Ho, due to the advent of the Makers’ Movement in Singapore. Currently we are a group of over 30 students, who are interested in making all kinds of things.
  </p>
</div>
