<div class="header__container">
  <header class="header container">
    <h1 class="header__brand"><a class="header__link header__link--brand" href="/">{{ site.name }}</a></h1><!--
    --><nav class="header__nav"><!--
      --><ul class="header__nav-list"><!--
        --><li class="header__nav-item"><a class="header__link" href="/events/">Events</a></li><!--
        --><li class="header__nav-item"><a class="header__link" href="/projects/">Projects</a></li><!--
        --><li class="header__nav-item"><a class="header__link" href="/news/">News</a></li><!--
        --><li class="header__nav-item"><a class="header__link" href="/members/">Members</a></li><!--
      --></ul>
    </nav>
  </header>
</div>
