.figure {
  background: $gray;
  margin: 32px -16px;
  padding: 16px;
  border-radius: 4px;

  &__image,
  &__video {
    max-width: 100%;
    margin: auto;
  }

  &__caption {
    text-align: center;
    font-style: italic;
  }
}
