.home {
  padding: 16px 0 32px;
  margin-top: -16px;
  background: lighten($gray, 3%);

  &__title {
    color: $primary;
  }

  &__copy {
    font-size: 24px;
    line-height: 32px;
  }

  .button--instagram:hover {
    background: radial-gradient(circle at 33% 70%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
    color: $white;
  }

  .button--youtube:hover {
    color: #e62117;
  }

  .icon {
    display: inline-block;
    vertical-align: text-bottom;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  
    &-instagram {
      width: 0.857421875em;
    }

    &-youtube {
      width: 0.857421875em;
    }
  }
}
