.footer {
  padding-bottom: 32px;
  text-align: center;
  color: $black;
  font-family: $font-asap;

  &::before {
    display: block;
    width: 100px;
    height: 3px;
    margin: 0 auto 27px;
    background: $gray;
    content: '';
  }
}
