#events {
  .date {
    font-weight: bold;
    text-decoration: none;
  }
  .date:hover {
    text-decoration: line-through;
  }
  .date:hover::after {
    display: inline-block;
    margin-left: 10px;
    color: $accent;
    font-weight: normal;
    text-decoration: none !important;
    content: 'This event is over :(';
  }

  .date--upcoming:hover {
    text-decoration: none !important;
  }
  .date--upcoming:hover::after {
    color: $primary;
    content: 'Coming soon!';
  }
}
