.home {
  padding: 16px 0 32px;
  margin-top: -16px;
  background: lighten($gray, 3%);

  &__title {
    color: $primary;

    &-vjc {
      color: $accent;
    }
  }

  &__copy {
    font-size: 24px;
    line-height: 32px;
  }

  .button--youtube:hover {
    color: #e62117;
  }

  .icon {
    display: inline-block;
    vertical-align: text-bottom;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;

    &-instagram {
      width: 0.857421875em;
    }

    &-youtube {
      width: 0.857421875em;
    }
  }
}
