.figure {
  background: $gray;
  margin: 32px -16px;
  padding: 16px;
  border-radius: 4px;

  &__image {
    max-width: 100%;
  }

  &__video {
    max-width: 560px;
    max-height: 315px;
  }

  &__caption {
    text-align: center;
    font-style: italic;
  }
}
