section h1,
section h2,
section h3 {
  font-family: $font-asap;
}

section h1 {
  text-align: center;
  font-size: 32px;
  line-height: 64px;

  &::after {
    display: block;
    width: 100px;
    height: 5px;
    margin: 0 auto 27px;
    background: $primary-light;
    content: '';
  }
}

section h2 {
  display: inline-block;
  font-size: 28px;
  margin: 32px 0 27px;
  border-bottom: 5px solid $primary-light;
}

section h3 {
  font-size: 24px;
  line-height: 32px;
  margin: 32px 0 27px;
  border-bottom: 5px solid $primary-light;
}

section h1 + h2,
section h2 + h3 {
  margin-top: 0;
}
